@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap%27');

/* fuenteNavBar */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
/* fuenteNombre */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:ital,wght@0,300;0,700;1,900&family=Shadows+Into+Light&family=Tilt+Prism&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 5;
  }
body{
    background-color:bisque;
}


.headerr{

    font-family: Poppins, sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Color encabezado*/
    /*posible color para fondo de apartado contabilidad #c8d8b3*/
    background-color: #741012;
    padding: 0 100px;


}
.logo{
display: flex;
align-items: center;
}
.logo{
    background-color:white;
    border-radius:10px;

}
.logo img{
    width: 95px;
    height: 90px;
}
.bars{
    display: none;

}
.navbar ul{
    display: flex;

}
.navbar ul li a {
    display: block;
    color:white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
    
}
.navbar ul li a:hover{
    color:#843B4B;
    background-color:#FDEADE;
}
.navbar ul li a.active{
    color:#843B4B;
    background-color:#FDEADE;
}
@media(max-width:1280px){
    .headerr{
        padding: 0px 30px;       
    }
    .bars{
        display: block;
        cursor: pointer;   
    }
    .bars .line{
        width: 30px;
        height: 3px;
        background-color: brown;
        margin: 6px 0px;
    }
    .navbar{
        height: 0px;
        position: absolute;
        top:100px;
        left:0; 
        right: 0;
        width: 100vw;
        background-color:blanchedalmond;
        transition: 0.5s;
        overflow: hidden;
    }
    .navbar.active{
        height: 530px;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .navbar.active ul{
        opacity: 1;
    }
    .navbar ul li a{
         margin-bottom: 20px ;
    }
    .logo h2{
        font-size: 20px;
    }
}

