/*Fuente Nombre*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.cdnfonts.com/css/geometria');
@import url('https://fonts.cdnfonts.com/css/lexend-deca');
@import url('https://fonts.cdnfonts.com/css/im-fell-dw-pica');
                
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    
  }
body{
    /* Color de fondo: */
    background-color:rgb(243, 204, 147);
    font-family: sans-serif;
    padding: 0;
    margin:0;
    align-items: center;
}
.headerr{
    width: 100%;
    height: 100px;
    /* Color de la barra superior */
    background-color: cornsilk;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px;
}
.logo{
display: flex;
align-items: center;
}
.logo h2{
    /* Fuente y Tamaño del nombre del colegio */
    font-family: 'PT Serif', serif;
    font-size: 25px;
}
.logo img{
    /* Tmaño de la imagen del logo */
    width: 100px;
    height: 90px;
}
.bars{
    display: none;

}
.navbar ul{
    display: flex;

}
.navbar ul li a {
    display: block;
    /* Color de las letras de la barra de navegacion */
    color:brown;
    /* Tamaño de las letras de la barra de navegacion */
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
    
}
.navbar ul li a:hover{
    /* Color de la letra y el fondo al pasar el cursos 
    sobre alguna seccion de la barra de navegacion */
    color:salmon;
    background-color:bisque;
}
.navbar ul li a.active{
    color:salmon;
    background-color:bisque;
}


.bio_cuerpo h1{
    font-weight: bolder;
    font-family: 'lexend deca', sans-serif;
    font-size: 75px;
    text-align: left;
    margin-top: 10px;
    margin-bottom:0;
    margin-left: 10%;
    margin-right: 5%;
    color: brown;
    
}
.bio_cuerpo h3{
    font-size: medium;
    font-family: 'Geometria', sans-serif;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
    color: rgb(243, 204, 147);  
    max-width: 325px;
    background-color: brown;
}
section{
    transition: transform .5s;
}
p{
    font-weight: 200px;
    font-family: 'lexend deca', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left:10%;  
    margin-right: 10%;
    margin-top: 15px; 
}

a{
    text-decoration: none;
    text-align:center;
    size: 30px;
}
.bio_cuerpo a{
    border-color: rgb(243, 204, 147);
    color:rgb(243, 204, 147);
    display: inline-block;
    border: 1px solid rgb(243, 204, 147);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    padding: 16px 32px;
    font-family: 'GEOMETRIA', sans-serif;
    color:rgb(243, 204, 147);
    letter-spacing: .6px;
    text-transform: uppercase;
    margin-left: 38%;
    margin-right: 39%;
    margin-top: 20px;
}

.bio_cuerpo a:hover{
    background-color: #d35252;
    transition: 1.5s;
    

}
.himno{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #111a29;
    margin-left: 10%;
}
.contraste_cuerpo{
    background-color: brown;

}
.contraste_cuerpo h1{
    font-weight: bolder;
    font-family: 'lexend deca', sans-serif;
    font-size: 75px;
    text-align: left;
    margin-bottom:3%;
    margin-left: 10%;
    margin-right: 5%;
    color: rgb(243, 204, 147);
}
.contraste_cuerpo h2{
    font-size: 45px;
    font-family: 'lexend deca', sans-serif;
    text-align: left;
    margin-top: 5%;
    margin-left: 40PX;
    color: #412020;
    background-color: rgb(243, 204, 147);   
    max-width: 175px;
}
.contraste_cuerpo h3{
    font-size: medium;
    font-family: 'Geometria', sans-serif;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    color: #412020;
    background-color: rgb(243, 204, 147);   
    max-width: 175px;

}
.contraste_cuerpo p{
    font-weight: 200px;
    font-family: 'lexend deca', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left:10%;  
    margin-right: 10%;
    margin-top: 10px; 
    color:lightgray ;
}
#cursiva{
    font-style: italic;
    font-family: 'im fell dw pica',sans-serif;
}
.container{
    border-radius: 10px;

}
.container p{
    color: #412020;
    display: inline-block;
}


#tarjeta_beige {
    background-color: #f3cc93;
    max-width: 40%;
    margin-right: -5%;
    display: inline-block;
    max-width: 80%;
    display: inline-block;
    margin-left: 10%;
    margin-right: -5%;
    margin-top: 35px;
    }
    /* 2 columnas para tablets */
    @media (min-width: 590px) {
    #tarjeta_beige  {
    max-width: 80%;
    margin-left: 10%;
    margin-right: -5%;
    }
    }
    /* 4 columnas para grandes dispositivos*/
    @media (min-width: 760px) {
    #tarjeta_beige  {
    max-width: 35%;
    max-height: 990px;  
    margin-left: 10%;
    margin-right: -2%;
    }
    }
    @media (min-width:1000px) {
    #tarjeta_beige{
        max-width: 450px;
        max-height: 1600px;  
        margin-left: 140px;
        margin-right: 20px; 
    }
    }
    @media (min-width:1490px) {
    #tarjeta_beige{
        max-width: 800px;
        max-height: 1600px;  
        margin-left: 90px;
        margin-right: 50px;
    }
    }

#tarjeta_bordo {
    background-color: brown;
    max-width: 50%;
    margin-right: 15px;
    display: inline-block;
    max-width: 80%;
    display: inline-block;
    margin-left: 38px;
    margin-top: 35px;
    }
    #tarjeta_bordo p{
        color: rgb(243, 204, 147);
    }
    /* 2 columnas para tablets */
    @media (min-width: 590px) {
    #tarjeta_bordo  {
    max-width: 80%;
    margin-left: 10%;
    margin-right: -5%;
    }
    }
    /* 4 columnas para grandes dispositivos*/
    @media (min-width: 760px) {
    #tarjeta_bordo  {
    max-width: 35%;
    max-height: 990px;  
    margin-left: 50px;
    margin-right: 50px;
    }
    }
    @media (min-width:1080px) {
    #tarjeta_bordo{
        max-width: 450px;
        height: 318px;  
        margin-left: 80px;
        margin-right: 50px; 
    }
    }
    @media (min-width:1490px) {
    #tarjeta_bordo{
        max-width: 800px;
        max-height: 1600px;  
        margin-left: 90px;
        margin-right: 50px;
    }
}

.container{
    max-width: 300px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 5%;
    margin-top:4.5%;

    }

    /* 4 columnas para grandes dispositivos*/
    @media (min-width: 560px) {
    .container  {
    max-width: 440px;  
    margin-left: 50px;
    margin-right: 50px;
    }
    }
    @media (min-width:760px) {
    .container{
    max-width: 450px;  
    margin-left: 50px;
    margin-right: 50px;
    }
    }
    @media (min-width:1024px) {
    .container{
    max-width: 450px;  
    margin-left: 50px;
    margin-right: 50px;
    }
    }
    @media (min-width:1490px) {
    .container{
    max-width: 700px;  
    margin-left: 90px;
    margin-right: 70px;
    }
    }
    
    
.container img{
    width: 425px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top:25px ;
    margin-bottom: 25px;
}

/* Seccion responsive de la barra superior */
@media(max-width:1200px){
    .headerr{
        padding: 50px 30px;       
    }
    .bars{
        display: block;
        cursor: pointer;   
    }
    .bars .line{
        width: 30px;
        height: 3px;
        background-color: brown;
        margin: 6px 0px;
    }
    .navbar{
        height: 0px;
        position: absolute;
        top:100px;
        left:0; 
        right: 0;
        width: 100vw;
        /* Color del fondo de la barra desplegada 
        en modo responsive */
        background-color:blanchedalmond;
        transition: 0.5s;
        overflow: hidden;
    }
    .navbar.active{
        height: 450px;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .navbar.active ul{
        opacity: 1;
    }
    .navbar ul li a{
         margin-bottom: 20px ;
    }
    .logo h2{
        /* Fuente y tamaño del nombre en modo responsive */
        font-family: 'PT Serif', serif;
        font-size: 23px;
    }
}
